@page "/"
@layout Lab5.Components.Layout.MainLayout
@rendermode InteractiveServer

<PageTitle>Library</PageTitle>

<h3>Library Management System</h3>
<p>Use the links below to navigate:</p>
<ul>
    <li><a href="/books">Manage Books</a></li>
    <li><a href="/users">Manage Users</a></li>
    <li><a href="/borrow">Borrow / Return Books</a></li>
</ul>